@model Chef

<div class="container">
    <h2 class="text-center">New Chef</h2>

    <div class="row justify-content-center">
        <form asp-controller="Chefs" asp-action="Create" method="post" class="border rounded w-50 p-3">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <span asp-validation-for="FirstName" class="text-danger font-weight-bold"></span>
                <input asp-for="FirstName" class="form-control">
            </div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <span asp-validation-for="LastName" class="text-danger font-weight-bold"></span>
                <input asp-for="LastName" class="form-control">
            </div>

            <div class="form-group">
                <label asp-for="DOB"></label>
                <span asp-validation-for="DOB" class="text-danger font-weight-bold"></span>
                <input asp-for="DOB" class="form-control">
            </div>

            <button class="btn-outline-success">Submit</button>
        </form>
    </div>
</div>